/* Fable */
.button.button-fable {
  color: #000000;
  background-color: #ffffff;
}
.button.button-fable:hover,
.button.button-fable:focus {
  filter: brightness(90%);
}

/* LibraryThing */
.button.button-librarything {
  color: #251a15;
  background-color: #f8f4f0;
}
.button.button-librarything:hover,
.button.button-librarything:focus {
  filter: brightness(90%);
}
